@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@import 'swiper/css';


@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

nav ul li a {float: left;}
/* Ensure swiper container is full width */
.swiper-container {
    width: 100%;
    height: 100%;
    
}
.swiper-wrapper{
    overflow: hidden;
}

/* Set navigation arrows' size */
.swiper-button-next, .swiper-button-prev {
    color: #fff; /* Or any color for the arrows */
    width: 40px;  /* Set the width of the arrows */
    height: 40px; /* Set the height of the arrows */
}

/* Optional: Style the pagination dots */
.swiper-pagination-bullet {
    background-color: #fff; /* Change dot color */
}
